body {
    background-color: #655c7f;
    color: lightseagreen;
    font-family: Roboto Flex, sans-serif;
}

.title {
    text-align: center;
    margin-bottom: 100px;
    justify-self: center;
    width: 50%;
    padding: 50px;
    font-size: 36px;
    font-weight: 700;
    border-radius: 50px;
    box-shadow:  9px 9px 25px #2f2b3c,
             -9px -9px 25px #9b8dc2;
}
.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* botón */
.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    padding: 20px 20px;
    color: #94FF9B;
    font-size: 32px;
    border-radius: 20px;;
    box-shadow:  9px 9px 25px #2f2b3c,
    -9px -9px 25px #9b8dc2;
}
.button:hover {
    background: linear-gradient(145deg, #5b5372, #6c6288);
box-shadow:  9px 9px 25px #2f2b3c,
             -9px -9px 25px #9b8dc2;
    cursor: pointer;
}

.buttonPressed {
    box-shadow: inset 9px 9px 25px #2f2b3c,
            inset -9px -9px 25px #9b8dc2;
}
  
.button p {
    margin: 0;
    
    padding: 0;
}

.button .emoji {
    font-size: 50px;
}